.welcome-text{
    margin: 0px 0px 2vh 0px;
}

.lb-wrapper{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .lb{
        width: 45%;
        background-color: var(--bg2);
        padding: 1vh 1vw;
        border-radius: .7vw;
        position: relative;

        table{
            width: 100%;
            background-color: var(--primary);
            border-radius: .35vw;
            padding: .5vh .5vw;

            thead{

                tr{

                    
                    th{
                        text-transform: capitalize;
                        border-bottom: 2px solid white;
                    }
                }
            }
        }

        .lb-nadpis{
            font-size: 1.2em;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 1vh;
        }
    }
}