@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  height: 100%;
  position: relative;
}

.login-cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bg2);
  border-radius: 30px;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2vh 0px 5vh 0px;
  margin: 5vh 0px;
  z-index: 1;
}
.login-cont .login-nadpis {
  height: 15%;
  width: 100%;
  margin: 0;
}
.login-cont .login-nadpis h3 {
  padding: 5% 0%;
}
.login-cont h3 {
  font-size: 2em;
  margin: 0 auto;
  padding: 30px 0px 10px 0px;
}
.login-cont .reg-text {
  text-align: center;
  margin-top: 10%;
}
.login-cont .reg-text a {
  color: white;
  margin-left: 3px;
  text-decoration: underline;
}
.login-cont .reg-text a:hover {
  color: var(--hvr);
}

.login-form-cont {
  height: 65%;
}
.login-form-cont form input:not(.btn) {
  border: none;
  outline: none;
  border-bottom: white solid 2px;
  background-color: transparent;
  width: 70%;
  padding: 10px 0px 10px 0px;
  margin-bottom: 2.5%;
  color: white;
  border-bottom: 2px solid var(--hvr);
  transition: all 0.2s ease-in-out;
}
.login-form-cont form input:not(.btn):focus {
  outline: none;
  border-color: #666;
}
.login-form-cont form input:not(.btn):first-of-type {
  margin-top: 10%;
}
.login-form-cont form input:not(.btn):focus {
  outline: none;
}
.login-form-cont form .btn:hover {
  opacity: 0.9;
}
.login-form-cont .btn {
  width: 70%;
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
  margin-top: 2.5%;
  border-color: white;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
}
.login-form-cont .err {
  background-color: rgba(184, 22, 22, 0.7);
  border: solid 1px var(--err);
  width: 70%;
  margin: 0 auto;
  padding: 5px 0px 5px 0px;
  border-radius: 10px;
  position: relative;
  margin-top: 0%;
}
.login-form-cont .err p:not(:first-of-type) {
  position: absolute;
  top: 20%;
  left: 5%;
  font-weight: 1000;
  border-right: solid 1px white;
  padding-right: 10px;
}

.welcome-text {
  margin: 0px 0px 5vh 0px;
}

.index-wrapper {
  height: 65dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game-init {
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--bg2);
  border-radius: 0.7vw;
  padding: 2dvh 1vw 6dvh 1vw;
}
.game-init h2 {
  margin-bottom: 4dvh;
}

.profile-stats {
  margin-bottom: 2dvh;
}
.profile-stats p {
  margin-bottom: 0.5dvh;
}

.btn-wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.btn-wrapper p {
  font-size: 1.2em;
  text-transform: capitalize;
}
.btn-wrapper p a {
  color: white;
  font-weight: 600;
}
.btn-wrapper .btn {
  padding: 3dvh 0.5vw 3dvh 0.5vw;
  width: 43%;
  font-size: 1.4em;
  border-radius: 1vw;
  text-shadow: 0px 0px 0.2vw rgba(255, 255, 255, 0.4);
  color: white;
  font-weight: 600;
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  text-decoration: none;
  text-align: center;
  border: solid 0.2vw white;
}
.btn-wrapper .btn:hover {
  opacity: 0.9;
  box-shadow: 0 0 0.3vw;
}
.btn-wrapper .btn:last-child {
  background: linear-gradient(90deg, var(--secondary) 0%, var(--tertiary) 100%);
}

.lb-wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.lb-wrapper .lb {
  width: 100%;
  background-color: var(--bg2);
  padding: 2dvh 1vw 2dvh 1vw;
  border-radius: 0.7vw;
  position: relative;
}
.lb-wrapper .lb .lb-head {
  margin-bottom: 4vh;
}
.lb-wrapper .lb .lb-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lb-wrapper .lb .lb-body div {
  width: 30%;
  padding: 0 1vw 0 1vw;
  border-radius: 0.5vw;
  overflow: hidden;
  box-shadow: 0 0 0.5vw var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 3dvh;
}
.lb-wrapper .lb .lb-body div h2 {
  text-shadow: 0px 0px 0.3vw;
  line-height: 4vh;
  font-size: 2em;
}
.lb-wrapper .lb .lb-body div div {
  box-shadow: none;
  font-size: 2dvh;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5dvh 0.5vw 0.5dvh 0.5vw;
  background-color: var(--bg2);
}
.lb-wrapper .lb .lb-body div:not(:first-of-type):not(:last-of-type) {
  background-color: rgb(218, 185, 0);
  height: 22dvh;
}
.lb-wrapper .lb .lb-body div:first-of-type:not(:last-of-type) {
  height: 19.5dvh;
  background-color: silver;
}
.lb-wrapper .lb .lb-body div:not(:first-of-type):last-of-type {
  height: 17dvh;
  background-color: saddlebrown;
}

:root {
  --bg: #161b22;
  --bg2: #252c35;
  --bg3: #1f242b;
  --primary: #b45cb0;
  --secondary: #8d5e8b;
  --tertiary: #634a92;
  --hvr: #bbbbbb;
  --err: #cf0707;
  font-family: "Roboto", sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

h2 {
  font-size: 1.7em;
}

.fixed-size {
  grid-template-rows: 5fr 21fr 10fr !important;
}

.odhlasit-se {
  color: white;
  font-weight: 600;
  text-decoration: none;
  padding: 1dvh 1vw;
  background-color: var(--err);
  border-radius: 1dvh;
  border: solid white 0.2dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body,
html {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

.odpovedi {
  display: flex;
  flex-direction: column;
  min-height: 11.5vh;
  padding: 0.5dvh 0.5vw;
  margin: 0vh 0.5vw;
  background-color: var(--bg);
  border-radius: 1vh;
}

body {
  background-color: var(--bg);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body header {
  width: 100%;
  height: 45px;
  overflow: hidden;
}
body header #nav {
  background-color: var(--bg2);
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: nowrap;
}
body header #nav #nav_center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
body header #nav #nav_center a {
  padding: 0.5vw;
}
body header #nav a {
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
body header #nav #profil {
  float: right;
}
body header #nav #profil div {
  display: flex;
  align-items: center;
}
body header #nav #profil div:last-child {
  padding: 0px 0.5vw;
}
body header #nav #profil .logged-on img {
  height: 2.5dvh;
  width: 1vw;
  margin-top: 0.3dvh;
  padding: 0dvh 0.5vw 0dvh 0.5vw;
}
body main {
  min-height: 85vh;
}
body main .container {
  width: 60vw;
  margin: 1vh auto;
  min-height: 83vh;
}
body footer {
  width: 100%;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh 0vw;
  background-color: var(--bg2);
}

.bg {
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  position: absolute;
}
.bg .bg_img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.bg .grad {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(22, 27, 34, 0) 0%, rgba(22, 27, 34, 0.75) 50%, rgba(22, 27, 34, 0.85) 65%, rgba(22, 27, 34, 0.9) 75.5%, rgba(22, 27, 34, 0.95) 82.85%, rgba(22, 27, 34, 0.97) 88%, rgb(22, 27, 34) 100%);
  background-color: rgba(22, 27, 34, 0.25);
}

.scroll-y {
  overflow-y: scroll;
}

.quiz-wrapper {
  background-color: var(--bg2);
  border-radius: 1vw;
  padding: 0.5dvh 2vw;
  aspect-ratio: 16/9;
  display: grid;
  grid-template-rows: 10fr auto 8fr;
  height: 50vh;
}
.quiz-wrapper .hlaska {
  font-size: 1.5em;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  min-height: 8dvh;
}
.quiz-wrapper .quiz-buttonwrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1vw;
  height: 100%;
}
.quiz-wrapper .tlacitko {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  user-select: none;
}
.quiz-wrapper .tlacitko .odpoved {
  font-weight: 600;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.3vw;
  text-shadow: 0px 0px 0.2vw rgba(255, 255, 255, 0.4);
  border: solid 0.2vw white;
  border-radius: 0.5vw;
  padding: 2vh 1vw;
  background: linear-gradient(90deg, var(--primary) 0%, var(--tertiary) 100%);
}
.quiz-wrapper .tlacitko .odpoved:hover {
  opacity: 0.9;
  box-shadow: 0 0 0.3vw;
}
.quiz-wrapper .quiz-footer-button {
  display: flex;
  justify-content: space-around;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
  gap: 1vw;
}
.quiz-wrapper .quiz-footer-button a {
  font-weight: 600;
  color: white;
  font-size: 1vw;
  text-shadow: 0px 0px 0.2vw rgba(255, 255, 255, 0.4);
  border: solid 0.2vw white;
  border-radius: 0.5vw;
  padding: 2vh 1vw;
  background: linear-gradient(90deg, var(--primary) 0%, var(--tertiary) 100%);
  text-decoration: none;
  width: calc(100% - 0.2vw);
  margin: 0px 0.5vw;
  text-align: center;
}
.quiz-wrapper .quiz-footer-button a:hover {
  opacity: 0.9;
  box-shadow: 0 0 0.3vw;
}
.quiz-wrapper .quiz-footer-button a:not(:first-of-type) {
  margin-right: calc(0.5vw + 5px);
}
.quiz-wrapper .quiz-footer {
  margin: 1dvh 0;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
}
.quiz-wrapper .quiz-footer a {
  font-size: 2.5vw;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
.quiz-wrapper .quiz-footer a:hover {
  opacity: 0.9;
  text-shadow: 0 0 0.3vw;
}
.quiz-wrapper .quiz-footer .liked {
  color: rgb(218, 185, 0);
}
.quiz-wrapper .quiz-footer p {
  font-size: 2.5vw;
  font-weight: 600;
  color: white;
}

.sinslavy {
  background-color: var(--bg2);
  border-radius: 20px;
  font-size: 1.5vw;
  padding: 3vh 0vw;
}
.sinslavy .objekt {
  display: flex;
  justify-content: space-between;
  padding: 0.3vh 1vw;
}

.hlasky-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1dvh;
}
.hlasky-container .hlasky-subcontainer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1vw;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 0.3dvh 0.3dvh;
}
.hlasky-container .hlasky-subcontainer a {
  height: 100%;
}
.hlasky-container .hlasky-subcontainer a img {
  height: 2.5vh;
}
.hlasky-container .hlasky-subcontainer p:nth-child(1) {
  font-weight: 600;
}
.hlasky-container .hlasky-subcontainer p:nth-child(2) {
  font-size: 0.9em;
}

@media only screen and (max-width: 1650px) {
  #main .container {
    width: 80vw;
  }
  .quiz-wrapper .quiz-buttonwrapper {
    grid-template-columns: 1fr;
  }
  .quiz-wrapper .quiz-footer-button a {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1651px) {
  .quiz-buttonwrapper {
    grid-template-columns: 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */