@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "login.scss";
@import "index.scss";

:root{
    // barvisky
    --bg: #161b22; 
    --bg2: #252c35;
    --bg3: #cccccc;
    --primary: #8b5cb4;
    --secondary: #9d6f9b;
    --tertiary: #4a8992;
    --hvr: #bbbbbb;
    font-family: 'Roboto', sans-serif;

    // font-family: 'Roboto Slab', serif;
    color: white;
}

h2{ // yes
    font-size: 1.7em;
}

.nadpis-left{
    text-align: left;
    margin-bottom: 3vh;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

body,html{
    min-height: 100vh;
    margin: 0;
    position: relative;
}

body{
    background-color: var(--bg);
    display: grid;
    grid-template-rows: auto 1fr auto;

    header{
        width: 100%;
        height: 48px;

        #nav{
            background-color: var(--bg2);
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            flex-wrap: nowrap;

            #nav_center{
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0%);
                width: fit-content;
                text-align: center;
            }

            #profil{
                float: right;
            }

            a{
                color: white;
                text-decoration: none;
                font-weight: 600;
                margin-top: 10px;
                padding: 10px;
            }
        }
    }


    main{
        min-height: 85vh;

        .container{
            width: 80vw;
            margin: 1vh auto;
            min-height: 83vh;
        }
    }

    footer{
        width: 100%;
        text-align: center;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3vh 0vw;
        background-color: var(--bg2);
    }
}

.score {
    top:50px;
    right:10px;
    position: absolute;
    font-size: 2.5vw;
    font-weight: bolder;
}

.bg{ //bg (no way) ((pozadí)) ((( o_o )))
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 0;
    position: absolute;
    
    .bg_img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        user-select: none;
    }

    .grad{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
            rgba(22, 27, 34, 0) 0%,
            rgba(22, 27, 34, 0.75) 50%,
            rgba(22, 27, 34, 0.85) 65%,
            rgba(22, 27, 34, 0.9) 75.5%,
            rgba(22, 27, 34, 0.95) 82.85%,
            rgba(22, 27, 34, 0.97) 88%,
            rgba(22, 27, 34) 100%
        );
        background-color: rgba(22, 27, 34, .25);
    }
}
.hlaska {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5vw;
}


.odpoved {
    font-weight: 500;
    color:white;
    text-align: center;
    border-radius: 3px;
    font-size: 1vw;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.7);
    background-color: transparent;
    border: none;
    padding: 2em;
    width: 15.55vw;
    margin-bottom: 2em;
    background-color: var(--primary);
    border: 3px solid var(--glow);
    border-radius: 5px;
}



  
.tlacitko {
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
}
  





        