@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "login.scss";

:root{
    // barvisky
    --bg: #161b22; 
    --bg2: #252c35;
    --bg3: #cccccc;
    --primary: #8b5cb4;
    --secondary: #9d6f9b;
    --tertiary: #4a8992;
    font-family: 'Roboto', sans-serif;

    // font-family: 'Roboto Slab', serif;
    color: white;
}

p{
    margin: 0;
}

body{
    margin: 0;
    height: 100vh;
    background-color: var(--bg);

    header{
        user-select: none;
        background-color: var(--bg2);
        width: 100vw;
        height: 5vh;
        display: inline-flex;

        #navigace{
            width: 60%;
            padding-left: 20%;
            display: inline-flex;
            justify-content: center;
        }

        #profil{
            width: 20%;
            display: inline-flex;
            justify-content: center;
        }

        a{
            text-decoration: none;
            color: white;
            font-weight: 600;
            line-height: 5vh;
            font-size: .9em;
            padding: 0px 10px;
            transition: color .1s;
        }

        a:hover{
            color: var(--bg3);
        }
    }

    main{
        height: 85vh;

        .container{
            width: 80vw;
            margin: 0 auto;
            height: 100%;
        }
    }

    footer{
        background-color: var(--bg2);
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        font-weight: 600;
    }
}

.bg{ //bg (no way) ((pozadí)) ((( o_o )))
    width: 100vw;
    height: 85vh;
    position: absolute;
    left: 0;
    
.score {
    top:50px;
    right:10px;
    position: absolute;
    font-size: 2.5vw;
    font-weight: bolder;
}
    .bg_img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        user-select: none;
    }

    .grad{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            rgba(22, 27, 34, 0) 0%,
            rgba(22, 27, 34, 0.75) 50%,
            rgba(22, 27, 34, 0.85) 65%,
            rgba(22, 27, 34, 0.9) 75.5%,
            rgba(22, 27, 34, 0.95) 82.85%,
            rgba(22, 27, 34, 0.97) 88%,
            rgba(22, 27, 34) 100%
        );
        background-color: rgba(22, 27, 34, .25);
    }
}
.hlaska {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5vw;
}


.odpoved {
    font-weight: 500;
    color:white;
    text-align: center;
    border-radius: 3px;
    font-size: 1vw;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.7);
    background-color: transparent;
    border: none;
    padding: 2em;
    width: 15.55vw;
    margin-bottom: 2em;
    background-color: var(--primary);
    border: 3px solid var(--glow);
    border-radius: 5px;
}



  
.tlacitko {
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
}
  





        