@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "login.scss";
@import "index.scss";

:root {
    // barvisky
    --bg: #161b22;
    --bg2: #252c35;
    --bg3: #cccccc;
    --primary: #b45cb0;
    --secondary: #8d5e8b;
    --tertiary: #634a92;
    --hvr: #bbbbbb;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Roboto Slab', serif;
    color: white;
}

h2 {
    // yes
    font-size: 1.7em;
}

.nadpis-left {
    text-align: left;
    margin-bottom: 3vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body,
html {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

body {
    background-color: var(--bg);
    display: grid;
    grid-template-rows: auto 1fr auto;

    header {
        width: 100%;
        height: 48px;
        overflow: hidden;

        #nav {
            background-color: var(--bg2);
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            flex-wrap: nowrap;

            #nav_center {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0%);
                width: fit-content;
                text-align: center;
            }

            #profil {
                float: right;
            }

            a {
                color: white;
                text-decoration: none;
                font-weight: 600;
                margin-top: 10px;
                padding: 10px;
            }
        }
    }


    main {
        min-height: 85vh;

        .container {
            width: 60vw;
            margin: 1vh auto;
            min-height: 83vh;
        }
    }

    footer {
        width: 100%;
        text-align: center;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3vh 0vw;
        background-color: var(--bg2);
    }
}

.bg {
    //bg (no way) ((pozadí)) ((( o_o )))
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 0;
    position: absolute;

    .bg_img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        user-select: none;
    }

    .grad {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(rgba(22, 27, 34, 0) 0%,
                rgba(22, 27, 34, 0.75) 50%,
                rgba(22, 27, 34, 0.85) 65%,
                rgba(22, 27, 34, 0.9) 75.5%,
                rgba(22, 27, 34, 0.95) 82.85%,
                rgba(22, 27, 34, 0.97) 88%,
                rgba(22, 27, 34) 100%);
        background-color: rgba(22, 27, 34, .25);
    }
}

.quiz-wrapper {
    background-color: var(--bg2);
    border-radius: 1vw;
    padding: .5dvh 2vw;
    aspect-ratio: 16 / 9;
    display: grid;
    grid-template-rows: 10fr auto 8fr;

    .hlaska {
        font-size: 1.5em;
        color: white;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-bottom: 1vh;
        min-height: 13dvh;
    }
    
    .quiz-buttonwrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1vw;
        height: 100%;
    }

    .tlacitko {
        display: flex;
        align-items: center;
        justify-content: center;

        .odpoved {
            // btn
            font-weight: 600;
            color: white;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.3vw;
            text-shadow: 0px 0px .2vw rgba(255, 255, 255, .4);
            border: solid 2px white;
            border-radius: .5vw;
            padding: 2vh 1vw;
            background: linear-gradient( 90deg,
                var(--primary) 0%,
                var(--tertiary) 100%
            );

            &:hover{
                opacity: .9;
                box-shadow: 0 0 .3vw;
            }
        }
    }

    .quiz-footer{
        margin: 1dvh 0;
        display: flex;
        justify-content: space-between;
        user-select: none;
        align-items: center;

        a{
            font-size: 2.5vw;
            text-decoration: none;
            font-weight: 600;
            color: white;
        }

        .liked{
            color: rgb(218, 185, 0);
        }

        p{
            font-size: 2.5vw;
            font-weight: 600;
            color: white;
        }
    }
}