@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  height: 100%;
  position: relative;
}

.login-cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bg2);
  border-radius: 30px;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2vh 0px 5vh 0px;
  margin: 5vh 0px;
  z-index: 1;
}
.login-cont .login-nadpis {
  height: 15%;
  width: 100%;
  margin: 0;
}
.login-cont .login-nadpis h3 {
  padding: 5% 0%;
}
.login-cont .login-form-cont {
  height: 65%;
}
.login-cont .login-form-cont form input:not(.btn) {
  border: none;
  outline: none;
  border-bottom: white solid 2px;
  background-color: transparent;
  width: 70%;
  padding: 10px 0px 10px 0px;
  margin-bottom: 2.5%;
  color: white;
  border-bottom: 2px solid var(--hvr);
  transition: all 0.2s ease-in-out;
}
.login-cont .login-form-cont form input:not(.btn):focus {
  outline: none;
  border-color: #666;
}
.login-cont .login-form-cont form input:not(.btn):first-of-type {
  margin-top: 10%;
}
.login-cont .login-form-cont form input:not(.btn):focus {
  outline: none;
}
.login-cont .login-form-cont form .btn:hover {
  opacity: 0.9;
}
.login-cont .login-form-cont .btn {
  width: 70%;
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
  margin-top: 2.5%;
  border-color: white;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
}
.login-cont .login-form-cont .err {
  background-color: rgba(184, 22, 22, 0.7);
  border: solid 1px red;
  width: 70%;
  margin: 0 auto;
  padding: 5px 0px 5px 0px;
  border-radius: 10px;
  position: relative;
  margin-top: 0%;
}
.login-cont .login-form-cont .err p:not(:first-of-type) {
  position: absolute;
  top: 20%;
  left: 5%;
  font-weight: 1000;
  border-right: solid 1px white;
  padding-right: 10px;
}
.login-cont h3 {
  font-size: 2em;
  margin: 0 auto;
  padding: 30px 0px 10px 0px;
}
.login-cont .reg-text {
  text-align: center;
  margin-top: 10%;
}
.login-cont .reg-text a {
  color: white;
  margin-left: 3px;
  text-decoration: underline;
}
.login-cont .reg-text a:hover {
  color: var(--hvr);
}

.welcome-text {
  margin: 0px 0px 5vh 0px;
}

.index-wrapper {
  height: 58dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game-init {
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--bg2);
  border-radius: 0.7vw;
  padding: 2dvh 1vw 3dvh 1vw;
}
.game-init h2 {
  margin-bottom: 3dvh;
}

.btn-wrapper {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.btn-wrapper .btn {
  padding: 3dvh 0.5vw 3dvh 0.5vw;
  width: 43%;
  border-radius: 1vw;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  text-decoration: none;
  text-align: center;
  border: solid 0.2vw white;
}
.btn-wrapper .btn:hover {
  opacity: 0.9;
}
.btn-wrapper .btn:last-child {
  background: linear-gradient(90deg, var(--secondary) 0%, var(--tertiary) 100%);
}

.lb-wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.lb-wrapper .lb {
  width: 100%;
  background-color: var(--bg2);
  padding: 2dvh 1vw 2dvh 1vw;
  border-radius: 0.7vw;
  position: relative;
}
.lb-wrapper .lb .btn {
  background-color: aqua;
  padding: 1vh 1vw;
}
.lb-wrapper .lb .btn:hover {
  background-color: var(--bg);
}
.lb-wrapper .lb .lb-head {
  margin-bottom: 3vh;
  text-transform: capitalize;
}
.lb-wrapper .lb .lb-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.lb-wrapper .lb .lb-body div {
  width: 30%;
  padding: 0 1vw 0 1vw;
  border-radius: 0.5vw;
  overflow: hidden;
  box-shadow: 0 0 0.5vw var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 3dvh;
}
.lb-wrapper .lb .lb-body div h2 {
  text-shadow: 0px 0px 0.3vw;
  line-height: 4vh;
}
.lb-wrapper .lb .lb-body div div {
  box-shadow: none;
  font-size: 2dvh;
  background-color: var(--bg);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.1vh 0.5vw 0.1vh 0.5vw;
}
.lb-wrapper .lb .lb-body div:not(:first-of-type):not(:last-of-type) {
  background-color: gold;
  height: 15vh;
}
.lb-wrapper .lb .lb-body div:first-of-type:not(:last-of-type) {
  height: 12.5vh;
  background-color: silver;
}
.lb-wrapper .lb .lb-body div:not(:first-of-type):last-of-type {
  height: 11vh;
  background-color: saddlebrown;
}

:root {
  --bg: #161b22;
  --bg2: #252c35;
  --bg3: #cccccc;
  --primary: #b45cb0;
  --secondary: #8d5e8b;
  --tertiary: #634a92;
  --hvr: #bbbbbb;
  font-family: "Roboto", sans-serif;
  color: white;
}

h2 {
  font-size: 1.7em;
}

.nadpis-left {
  text-align: left;
  margin-bottom: 3vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

body, html {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

body {
  background-color: var(--bg);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body header {
  width: 100%;
  height: 48px;
  overflow: hidden;
}
body header #nav {
  background-color: var(--bg2);
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: nowrap;
}
body header #nav #nav_center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
body header #nav #profil {
  float: right;
}
body header #nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
}
body main {
  min-height: 85vh;
}
body main .container {
  width: 80vw;
  margin: 1vh auto;
  min-height: 83vh;
}
body footer {
  width: 100%;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh 0vw;
  background-color: var(--bg2);
}

.score {
  top: 50px;
  right: 10px;
  position: absolute;
  font-size: 2.5vw;
  font-weight: bolder;
}

.bg {
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  position: absolute;
}
.bg .bg_img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.bg .grad {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(22, 27, 34, 0) 0%, rgba(22, 27, 34, 0.75) 50%, rgba(22, 27, 34, 0.85) 65%, rgba(22, 27, 34, 0.9) 75.5%, rgba(22, 27, 34, 0.95) 82.85%, rgba(22, 27, 34, 0.97) 88%, rgb(22, 27, 34) 100%);
  background-color: rgba(22, 27, 34, 0.25);
}

.hlaska {
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5vw;
}

.odpoved {
  font-weight: 500;
  color: white;
  text-align: center;
  border-radius: 3px;
  font-size: 1vw;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  padding: 2em;
  width: 15.55vw;
  margin-bottom: 2em;
  background-color: var(--primary);
  border: 3px solid var(--glow);
  border-radius: 5px;
}

.tlacitko {
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
}

.oblibene {
  width: 12em;
  text-align: center;
  font-size: 1vw;
  background-color: #8b5cb4;
  margin: 4em;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 0px;
}

.divvysledneSkore {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: -moz-fit-content;
  height: fit-content;
}
.divvysledneSkore .vysledneSkore {
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
  background-color: #9d6f9b;
  border: 2px solid white;
  margin: 2em;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2vw;
}/*# sourceMappingURL=style.css.map */