<%- include('../_layout/header') %>
<div class="container">
    <div class="divvysledneSkore">
        <p class="vysledneSkore">Dosáhl/a jste: <%=vyslednaPorcenta%>% z testu.</p>
    </div>
        
</div>
<%- include('../_layout/footer') %>