<%- include('../_layout/header') %>
<div class="container">
    <p>Dosáhl/a jste: <%=vyslednaPorcenta%>%</p>
    <a href="/hlasky/uspesnost" style="text-decoration: none;color: lightblue;">Hrát znovu</a>
</div>

<%- include('../_layout/footer') %>