        </main>
        <footer>
            <div>            <p>Hlášky učitelů SPŠ Trutnov</p>
                <p>&copy; Brian Furlong | Jiří Hůla | Karel Capoušek</p>
            </div>
        </footer>
    </body>
</html>
