        <script src="/script.js"></script>
        </main>
        <footer>
            <div>
                <p>&copy; Hlášky učitelů SPŠ Trutnov</p>
                <p> Brian Furlong | Jiří Hůla | Karel Capoušek</p>
            </div>
        </footer>
    </body>
</html>
