

<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hlášky SPS Trutnov</title>
        <meta charset="UTF-8" />
    </head>
    <body>
            <header>
            <a href="/">Domů</a>
            <a href="/uzivatel/registrovat">Registrace</a>
            <a href="/uzivatel/prihlasit">Přihlášení</a>
            <a href="/uzivatel/profil">Profil</a>
            <a href="/hlasky/random?new=true">Kvíz náhlé smrti</a>
        </header>
        <main>