<!DOCTYPE html>
<html lang="cs">
    <head>
        <title><%= titulek %></title>
        <meta charset="UTF-8" />
    </head>
    <body>
            <header>
            <a href="/">Domů</a>
            <a href="/uzivatel/registrovat">Registrace</a>
            <a href="/uzivatel/prihlasit">Přihlášení</a>
            <a href="/uzivatel/profil">Profil</a>
        </header>
        <main>
        <h1><%= titulek %></h1>