<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Hlášky SPŠ Trutnov</title>
    </head>

    <body>
        <header>
            <div id="nav">
                <div id="nav_center">
                  <a href="/">Domů</a>
                  <a href="/uzivatel/sinslavy">Síň slávy</a>
                </div>
                
                <div id="profil">
                    <% if(jmeno == "Přihlásit se"){ %>
                        <a href="/uzivatel/prihlasit">Přihlásit se</a>
                        <% } else { %>
                            <a href="/uzivatel/profil"><%= jmeno %></a>
                            <% } %>
                </div>
            </div>
        </header>
        <main id="main">