<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Hlášky SPŠ Trutnov</title>
    </head>

    <body>
        <header>
            <div id="navigace">
                <a href="/">Domů</a>
                <a href="/uzivatel/registrovat">Registrace</a>
                <a href="/uzivatel/prihlasit">Přihlášení</a>
                <a href="/uzivatel/profil">Profil</a>
            <a href="/hlasky/random?new=true">Kvíz náhlé smrti</a>
            </div>

            <div id="profil">
                <a href="">test</a>
            </div>
        </header>
        <main>



            