<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        <title>Hlášky SPŠ Trutnov</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <a href="/">Domů</a>
            <a href="/uzivatel/registrovat">Registrace</a>
            <a href="/uzivatel/prihlasit">Přihlášení</a>
            <a href="/uzivatel/profil">Profil</a>
        </header>
        <main>
