<%- include('../_layout/header') %>
    <div class="container" style="min-height: 79vh; margin: 5vh auto 1vh auto">
        <% if(jmeno != undefined){ %>
            <h2 class="welcome-text">Vítej, <%= jmeno %></h2>

            <div class="lb-wrapper" style="flex-direction: row;">
                <div class="lb">
                    <a href="/hlasky/uspesnost" class="btn">Bodovaný Kvíz</a>
                    <a href="/hlasky/random?new=true" class="btn">Náhlá Smrt</a>
                </div>
            </div>

            <div class="lb-wrapper">
                <div class="lb"> <!-- T1 -->
                    <div class="lb-head">
                        <h2>Nejlepší hráči v režimu classic</h2>
                    </div>

                    <div class="lb-body">
                        <div>
                            <div>
                                <div>
                                    <h2>2.</h2>
                                    <p>Uživ. jméno</p>
                                    <p>body</p>
                                </div>
                            </div>
    
                            <div>
                                <div>
                                    <h2>1.</h2>
                                    <p>Uživ. jméno</p>
                                    <p>body</p>
                                </div>
                            </div>
    
                            <div>
                                <div>
                                    <h2>3.</h2>
                                    <p>Uživ. jméno</p>
                                    <p>body</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <% } else { %>
            <p>kys</p>
        <% } %>
    </div>
<%- include('../_layout/footer') %>