<%- include('../_layout/header') %>
    <div class="wrapper">
        <div class="bg">
            <div class="grad"></div>
            <img class="bg_img" src="/data_web/bg.png" alt="">
        </div>
    
        <div class="container" style="display: flex; align-items: center; justify-content: center;">
            <div class="login-cont" style="width: fit-content; padding: 2vh 2vw;">
                <div class="login-nadpis">
                    <h3>Opravdu chcete smazat svůj účet?</h3>
                    <p>Váš účet bude smazán <span style="color: red; font-weight: 600;">navždy</span>. (to je dlouho!)</p>
                </div>
                
                <div class="login-form-cont" style="margin-top: 3vh;">
                    <form method="post" script="/uzivatel/smazatUzivatele">

                        <div class="login-input">
                            <input style="margin-bottom: 3vh; margin-top: 2vh;" type="password" name="heslo" placeholder="Heslo od účtu" /><br />
                        </div>
                    
                    <% if(error) { %>
                        <div class="err">
                            <p><%= error %></p>
                            <p>!</p>
                        </div>
                        <% } %>

                    <input class="btn" type="submit" value="Smazat ůčet" />
                </form>
                </div>
            </div>
        </div>
    </div>
<%- include('../_layout/footer') %>