<%- include('../_layout/header') %>
    <div class="bg">
        <div class="grad"></div>
        <img class="bg_img" src="/data_web/bg.png" alt="">
        

        <div class="container">
            <div class="login-cont">
                <div class="login-nadpis">
                    <h3>just login bro</h3>
                </div>
                <div class="login-form-cont">
                    <form method="post" script="/uzivatel/prihlasit">
                        <input type="text" name="jmeno" placeholder="Jméno..." /><br />
                        <input type="password" name="heslo" placeholder="Heslo..." /><br />
                        <% if(error) { %>
                            <span style="color: red"><%= error %></span><br />
                        <% } %>
                        <input type="submit" value="Přihlásit" />
                </form>
                </div>
            </div>
        </div>
    </div>
<%- include('../_layout/footer') %>




