<%- include('../_layout/header') %>
<div class="wrapper">
    <div class="bg">
        <div class="grad"></div>
        <img class="bg_img" src="/data_web/bg1.png" alt="">
    </div>

    <div class="container" style="display: flex; align-items: center; justify-content: center;">
        <div class="login-cont">
            <div class="login-nadpis">
                <h3>Registrovat se</h3>
            </div>
            
            <div class="login-form-cont">
                <form method="post" script="/uzivatel/registrovat">
                    <div class="login-input">
                        <input type="text" name="jmeno" placeholder="Uživatelské jméno" /><br />
                    </div>
                    <div class="login-input">
                        <input type="password" name="heslo" placeholder="Heslo" /><br />
                    </div>
                    <div class="login-input">
                        <input type="password" name="hesloZnovu" placeholder="Heslo znovu" /><br />
                    </div>
                    
                    <% if(error) { %>
                        <div class="err">
                            <p><%= error %></p>
                            <p>!</p>
                        </div>
                        <% } %>

                        <input class="btn" type="submit" value="Přihlásit se" />
                </form>
            </div>
        </div>
                </form>
<%- include('../_layout/footer') %>