<%- include('../_layout/header') %>

<div class="container" style="min-height: 79vh; margin: 5vh auto 1vh auto">

    <h2 class="nadpis-left">Síň Slávy</h2>
    <% for (let i = 0; i < users.length; i++) { %>
        <p><%= users[i] %>, <%= scores[i] %></p>
        
    <%} %>
</div>


<%- include('../_layout/footer') %>